@model NotificationGroupQuoromiteVM.GetNotificationGroupQuoromiteListVM
<section class="col-12 grid-margin stretch-card">
    <div class="card">
        <img src="@Url.Content(ViewBag.BannerImageUrl)" alt="Banner Image" class="img-fluid" />
    </div>
</section>
<br />
<h3>@Model.NotificationGroupName Quoromite List</h3>
<br />
<section>
    <div class="col-8">
        <p class="text-info">
            The below list are the members of Notification Group <span class="text-dark">@Model.NotificationGroupName</span> and would each receive notifications when sent to the group.
        </p>
        <p class="text-info">
            The members of this group also have access to their specific Initiatives (Only if the member is also a user).
        </p>
        <br />
        <div class="card">
            <div class="card-header">
                <a type="button" asp-controller="NotificationGroup" asp-action="GetNotificationGroups">
                    <div class="btn btn-inverse-info">Back</div>
                </a>
                <a type="button" asp-controller="NotificationGroupQuoromite" asp-action="AddNotificationGroupQuoromite" asp-route-id="@Model.NotificationGroupId">
                    <div class="btn btn-inverse-success">Add New Quoromite into @Model.NotificationGroupName</div>
                </a>
                <a type="button" asp-controller="NotificationGroupQuoromite" asp-action="AddMultipleQuoromites" asp-route-notificationGroupId="@Model.NotificationGroupId">
                    <div class="btn btn-inverse-primary">Add Existing Quoromites</div>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">#</th>
                                        <th style="text-align:center">EMAIL</th>
                                        <th style="text-align:center">QUOROMITE NAME</th>
                                        <th style="text-align:center">DESCRIPTION</th>
                                        <th style="text-align:center">STATUS</th>
                                        <th style="text-align:center">ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GetNotificationGroupQuoromites)
                                    {
                                        <tr id="a_@item.NotificationGroupQuoromiteId">
                                            <td align="left" valign="middle">
                                                @Model.GetNotificationGroupQuoromites.IndexOf(item)
                                            </td>
                                            <td align="left" valign="middle"><span class="text-success">@item.Email</span></td>
                                            <td align="left" valign="middle">@item.FullName</td>
                                            <td align="left" valign="middle">@item.Description</td>
                                            @if (item.IsActive is true)
                                            {
                                                <td align="center" valign="middle">
                                                    <div class="btn btn-rounded btn-inverse-success btn-icon-text">
                                                        <i class="icon-check"></i>
                                                        Enabled
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td align="center" valign="middle">
                                                    <div class="btn btn-rounded btn-inverse-danger btn-icon-text">
                                                        <i class="icon-close"></i>
                                                        Disabled
                                                    </div>
                                                </td>
                                            }
                                            <td align="center" valign="middle">
                                                <a type="button" asp-controller="NotificationGroupQuoromite" asp-action="UpdateNotificationGroupQuoromite" asp-route-id="@item.NotificationGroupQuoromiteId">
                                                    <div class="btn btn-warning btn-icon-text">
                                                        <i class="ti-pencil btn-icon-prepend"></i>
                                                        Update Quoromite
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>